@model Printo.Data.Data.Order

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Order</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StartDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StartDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EndDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EndDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NetPrice)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NetPrice)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsReprint)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsReprint)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ReprintDateAndInfo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ReprintDateAndInfo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SheetsNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SheetsNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SheetsNumberPrinted)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SheetsNumberPrinted)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Comments)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Comments)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsActive)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsActive)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AddedDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AddedDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UpdatedDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UpdatedDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AddedUser)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AddedUser.Login)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UpdatedUser)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UpdatedUser.Login)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Client)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Client.ClientID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DeliveryAdress)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DeliveryAdress.DeliveryAdressID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DeliveryType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DeliveryType.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Finishing)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Finishing.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Format)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Format.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Machine)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Machine.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PaperWeight)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PaperWeight.Grammature)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PaperType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PaperType.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PaymentType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PaymentType.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PostPress)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PostPress.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PrintColor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PrintColor.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Product)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Product.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProductionStage)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProductionStage.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SheetSize)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SheetSize.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.VatRate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.VatRate.Name)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.OrderID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
