@model Printo.Data.Data.Order
@using Microsoft.AspNetCore.Http;
@{
    ViewData["Title"] = String.Format("Edycja zamówienia nr {0}", Model.OrderID);
    var userType = @Context.Session.GetString("UserTypeID");
}

<div class="row">
    <div class="col-12">
        <div class="card shadow mb-4">
            <div class="card-header">
                <div class="row">
                    <div class="col-lg-4">
                        <h4 class="mb-2 page-title">Zamówienie nr @Model.OrderID - @Model.OrderName</h4>
                    </div>
                    <div class="col-lg-4" style="text-align:right; margin-bottom:5px">
                        <input form="saveForm" type="submit" value="Zapisz" class="btn btn-success">
                    </div>
                    <div class="col">
                        <a class="btn btn-outline-success float-right" role="button" aria-haspopup="true" aria-expanded="false" asp-action="Index">
                            <i class="fe fe-arrow-left" style="vertical-align:text-top"></i>
                            Powrót do listy
                        </a>
                        @if (@Context.Session.GetString("UserTypeID") != "2")
                        {
                            <a class="btn btn-outline-success float-right" style="margin-right:5px" role="button" aria-haspopup="true" aria-expanded="false" asp-action="CopyAndCreate" asp-route-id="@Model.OrderID">
                                <i class="fe fe-copy" style="vertical-align:text-top"></i>
                                Kopiuj do nowego
                            </a>
                        }
                    </div>
                </div>
            </div>
            <div class="card-body">
                <form asp-action="Edit" id="saveForm">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input type="hidden" id="hdnSession" data-value="@userType" />
                    <input type="hidden" asp-for="OrderID" />
                    <input type="hidden" asp-for="IsActive" />
                    <input type="hidden" asp-for="AddedDate" />
                    <input type="hidden" asp-for="UpdatedDate" />
                    <input type="hidden" asp-for="AddedUserID" />
                    <input type="hidden" asp-for="UpdatedUserID" />
                    <div class="card-columns">
                        <div class="card shadow mb-4" style="padding-top:10px">
                            <div class="form-row" style="margin-left:10px; margin-right:10px">
                                <div class="form-group col-12 col-md-4">
                                    <label asp-for="StartDate" class="control-label">Data zamówienia</label>
                                    <input asp-for="StartDate" autocomplete="off" class="form-control" id="startDate" type="text" value="@Convert.ToString(string.Format("{0:dd/MM/yyyy}", Model.StartDate))" />
                                    <span asp-validation-for="StartDate" class="text-danger"></span>
                                </div>
                                <div class="form-group col-12 col-md-4">
                                    <label asp-for="EndDate" class="control-label">Termin realizacji</label>
                                    <input asp-for="EndDate" autocomplete="off" class="form-control" id="endDate" type="text" value="@Convert.ToString(string.Format("{0:dd/MM/yyyy}", Model.EndDate))" />
                                    <span asp-validation-for="EndDate" class="text-danger"></span>
                                </div>
                                <div class="form-group col">
                                    <label asp-for="ProductionStageID" class="control-label">Etap produkcji</label>
                                    <select asp-for="ProductionStageID" class="form-control" asp-items="ViewBag.ProductionStageID"></select>
                                    <span asp-validation-for="ProductionStageID" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="form-row" style="margin-left:10px; margin-right:10px">
                                <div class="form-group col-12 col-md-6">
                                    <label asp-for="ClientID" class="control-label">Klient</label>
                                    <label style="color:mediumseagreen" data-toggle="tooltip" data-placement="top" title="Pole wymagane"> *</label>
                                    <label data-toggle="tooltip" data-placement="top" title="Dane klienta"><a class="btn-outline-success" role="button" aria-haspopup="true" aria-expanded="false" href="@(Url.Action("Edit", "Clients", new { id = Model.ClientID }, null))"><i class="fe fe-help-circle"></i></a></label>
                                    @if (userType == "2")
                                    {
                                        <input asp-for="@Model.Client.Name" class="form-control" readonly />
                                        <input type="hidden" asp-for="ClientID" />
                                    }
                                    else
                                    {
                                        <select asp-for="ClientID" class="form-control myselect" style="width:100%" asp-items="ViewBag.ClientID" id="Client">
                                            <option selected disabled value="0"></option>
                                        </select>
                                    }
                                    <span asp-validation-for="ClientID" class="text-danger"></span>
                                </div>
                                <div class="form-group col-12 col-md-6">
                                    <label asp-for="OrderName" class="control-label">Nazwa zamówienia</label>
                                    <label style="color:mediumseagreen" data-toggle="tooltip" data-placement="top" title="Pole wymagane"> *</label>
                                    <input asp-for="OrderName" class="form-control" id="OrderName" />
                                    <span asp-validation-for="OrderName" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="form-row" style="margin-left:10px; margin-right:10px">
                                <div class="form-group col-12 col-md-4">
                                    <label asp-for="ProductID" class="control-label">Produkt</label>
                                    <label style="color:mediumseagreen" data-toggle="tooltip" data-placement="top" title="Pole wymagane"> *</label>
                                    @if (userType == "2")
                                    {
                                        <input asp-for="@Model.Product.Name" class="form-control" readonly />
                                        <input type="hidden" asp-for="ProductID" />
                                    }
                                    else
                                    {
                                        <select asp-for="ProductID" class="form-control myselect" style="width:100%" asp-items="ViewBag.ProductID" id="Product">
                                            <option selected disabled value="0"></option>
                                        </select>
                                    }
                                    <span asp-validation-for="ProductID" class="text-danger"></span>
                                </div>
                                <div class="form-group col-12 col-md-4">
                                    <label asp-for="FormatID" class="control-label">Format</label>
                                    <label style="color:mediumseagreen" data-toggle="tooltip" data-placement="top" title="Pole wymagane"> *</label>
                                    @if (userType == "2")
                                    {
                                        <input asp-for="@Model.Format.Name" class="form-control" readonly />
                                        <input type="hidden" asp-for="FormatID" />
                                    }
                                    else
                                    {
                                        <select asp-for="FormatID" class="form-control myselect" style="width:100%" asp-items="ViewBag.FormatID" id="Format">
                                            <option selected disabled value="0"></option>
                                        </select>
                                    }
                                    <span asp-validation-for="FormatID" class="text-danger"></span>
                                </div>
                                <div class="form-group col">
                                    <label asp-for="Quantity" class="control-label">Nakład</label>
                                    <label style="color:mediumseagreen" data-toggle="tooltip" data-placement="top" title="Pole wymagane"> *</label>
                                    <input asp-for="Quantity" class="form-control" id="Quantity" />
                                    <span asp-validation-for="Quantity" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="form-row" style="margin-left:10px; margin-right:10px">
                                <div class="form-group col-12 col-md-6">
                                    <label asp-for="PaperTypeID" class="control-label">Papier</label>
                                    <label style="color:mediumseagreen" data-toggle="tooltip" data-placement="top" title="Pole wymagane"> *</label>
                                    @if (userType == "2")
                                    {
                                        <input asp-for="@Model.PaperType.Name" class="form-control" readonly />
                                        <input type="hidden" asp-for="PaperTypeID" />
                                    }
                                    else
                                    {
                                        <select asp-for="PaperTypeID" class="form-control myselect" style="width:100%" asp-items="ViewBag.PaperTypeID" id="PaperType">
                                            <option selected disabled value="0"></option>
                                        </select>
                                    }
                                    <span asp-validation-for="PaperTypeID" class="text-danger"></span>
                                </div>
                                <div class="form-group col-12 col-md-6">
                                    <label asp-for="PaperWeightID" class="control-label">Gramatura</label>
                                    <label style="color:mediumseagreen" data-toggle="tooltip" data-placement="top" title="Pole wymagane"> *</label>
                                    @if (userType == "2")
                                    {
                                        <input asp-for="@Model.PaperWeight.Grammature" class="form-control" readonly />
                                        <input type="hidden" asp-for="PaperWeightID" />
                                    }
                                    else
                                    {
                                        <select asp-for="PaperWeightID" class="form-control myselect" style="width:100%" asp-items="ViewBag.PaperWeightID" id="PaperWeight">
                                            <option selected disabled value="0"></option>
                                        </select>
                                    }
                                    <span asp-validation-for="PaperWeightID" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="form-row" style="margin-left:10px; margin-right:10px">
                                <div class="form-group col">
                                    <div class="row">
                                        <div class="col">
                                            <label asp-for="Description" class="control-label">Opis zamówienia</label>
                                        </div>
                                        <div class="col">
                                            @if (userType == "2")
                                            {
                                                @if (Model.IsReprint == true)
                                                {
                                                    <label>Uwaga! DODRUK</label>
                                                }
                                            }
                                            else
                                            {
                                                <div class="custom-control custom-checkbox">
                                                    <input type="checkbox" class="custom-control-input" id="customCheck1" asp-for="IsReprint">
                                                    <label class="custom-control-label" for="customCheck1">Dodruk</label>
                                                </div>
                                            }
                                        </div>
                                    </div>
                                    <textarea asp-for="Description" class="form-control" id="Description"></textarea>
                                    <span asp-validation-for="Description" class="text-danger"></span>
                                </div>
                            </div>
                        </div>

                        <div class="card shadow mb-4" style="padding-top:10px">
                            <div class="form-row" style="margin-left:10px; margin-right:10px">
                                <div class="form-group col-6 col-md-4">
                                    <label asp-for="MachineID" class="control-label">Maszyna</label>
                                    <label style="color:mediumseagreen" data-toggle="tooltip" data-placement="top" title="Pole wymagane"> *</label>
                                    @if (userType == "2")
                                    {
                                        <input asp-for="@Model.Machine.Name" class="form-control" readonly />
                                        <input type="hidden" asp-for="MachineID" />
                                    }
                                    else
                                    {
                                        <select asp-for="MachineID" class="form-control myselect" style="width:100%" asp-items="ViewBag.MachineID">
                                        </select>
                                    }
                                    <span asp-validation-for="MachineID" class="text-danger"></span>
                                </div>
                                <div class="form-group col-6 col-md-4">
                                    <label asp-for="SheetSizeID" class="control-label">Format arkusza</label>
                                    <label style="color:mediumseagreen" data-toggle="tooltip" data-placement="top" title="Pole wymagane"> *</label>
                                    @if (userType == "2")
                                    {
                                        <input asp-for="@Model.SheetSize.Name" class="form-control" readonly />
                                        <input type="hidden" asp-for="SheetSizeID" />
                                    }
                                    else
                                    {
                                        <select asp-for="SheetSizeID" class="form-control myselect" style="width:100%" asp-items="ViewBag.SheetSizeID">
                                        </select>
                                    }
                                    <span asp-validation-for="SheetSizeID" class="text-danger"></span>
                                </div>
                                <div class="form-group col">
                                    <label asp-for="PrintColorID" class="control-label">Kolorystyka druku</label>
                                    <label style="color:mediumseagreen" data-toggle="tooltip" data-placement="top" title="Pole wymagane"> *</label>
                                    @if (userType == "2")
                                    {
                                        <input asp-for="@Model.PrintColor.Name" class="form-control" readonly />
                                        <input type="hidden" asp-for="PrintColorID" />
                                    }
                                    else
                                    {
                                        <select asp-for="PrintColorID" class="form-control myselect" style="width:100%" asp-items="ViewBag.PrintColorID">
                                        </select>
                                    }
                                    <span asp-validation-for="PrintColorID" class="text-danger"></span>
                                </div>
                            </div>

                            <div class="form-row" style="margin-left:10px; margin-right:10px">
                                <div class="form-group col">
                                    <label asp-for="SheetsNumber" class="control-label">Ilość arkuszy do druku</label>
                                    <textarea asp-for="SheetsNumber" class="form-control" id="SheetsNumber"></textarea>
                                </div>
                            </div>

                            <div class="form-row" style="margin-left:10px; margin-right:10px">
                                <div class="form-group col">
                                    <label asp-for="PrintDateTime" class="control-label">Wydrukowano dnia</label>
                                    <input asp-for="PrintDateTime" autocomplete="off" class="form-control" id="PrintDate" type="text" value="@Convert.ToString(string.Format("{0:dd/MM/yyyy}", Model.PrintDateTime))" />
                                    <span asp-validation-for="PrintDateTime" class="text-danger"></span>
                                </div>
                                <div class="form-group col">
                                    <label asp-for="PrintUserID" class="control-label">Wydrukował</label>
                                    <select asp-for="PrintUserID" class="form-control myselect" style="width:100%" asp-items="ViewBag.PrintUserID">
                                        <option selected disabled value="0"></option>
                                    </select>
                                    <span asp-validation-for="PrintUserID" class="text-danger"></span>
                                </div>
                            </div>

                            <div class="form-row" style="margin-left:10px; margin-right:10px">
                                <div class="form-group col">
                                    <label asp-for="SheetsNumberPrinted" class="control-label">Wydrukowano arkuszy</label>
                                    <textarea asp-for="SheetsNumberPrinted" class="form-control"></textarea>
                                </div>
                                <div class="form-group col">
                                    <label asp-for="Comments" class="control-label">Uwagi do druku</label>
                                    <textarea asp-for="Comments" class="form-control"></textarea>
                                </div>
                            </div>

                            <div class="form-row" style="margin-left:10px; margin-right:10px">
                                <div class="form-group col-12 col-md-6">
                                    <label asp-for="FinishingID" class="control-label">Uszlachetnienia</label>
                                    <label style="color:mediumseagreen" data-toggle="tooltip" data-placement="top" title="Pole wymagane"> *</label>
                                    @if (userType == "2")
                                    {
                                        <input asp-for="@Model.Finishing.Name" class="form-control" readonly />
                                        <input type="hidden" asp-for="FinishingID" />
                                    }
                                    else
                                    {
                                        <select asp-for="FinishingID" class="form-control myselect" style="width:100%" asp-items="ViewBag.FinishingID" id="Finishing">
                                        </select>
                                    }
                                    <span asp-validation-for="FinishingID" class="text-danger"></span>
                                </div>
                                <div class="form-group col-12 col-md-6">
                                    <label asp-for="PostPressID" class="control-label">Introligatornia</label>
                                    <label style="color:mediumseagreen" data-toggle="tooltip" data-placement="top" title="Pole wymagane"> *</label>
                                    @if (userType == "2")
                                    {
                                        <input asp-for="@Model.PostPress.Name" class="form-control" readonly />
                                        <input type="hidden" asp-for="PostPressID" />
                                    }
                                    else
                                    {
                                        <select asp-for="PostPressID" class="form-control myselect" style="width:100%" asp-items="ViewBag.PostPressID" id="PostPress">
                                        </select>
                                    }
                                    <span asp-validation-for="PostPressID" class="text-danger"></span>
                                </div>
                            </div>
                        </div>

                        <div class="card shadow mb-4" style="padding-top:10px">
                            <div class="form-row" style="margin-left:10px; margin-right:10px">
                                <div class="form-group col">
                                    <label asp-for="DeliveryTypeID" class="control-label">Rodzaj dostawy</label>
                                    <label style="color:mediumseagreen" data-toggle="tooltip" data-placement="top" title="Pole wymagane"> *</label>
                                    @if (userType == "2")
                                    {
                                        <input asp-for="@Model.DeliveryType.Name" class="form-control" readonly />
                                        <input type="hidden" asp-for="DeliveryTypeID" />
                                    }
                                    else
                                    {
                                        <select asp-for="DeliveryTypeID" class="form-control myselect" style="width:100%" asp-items="ViewBag.DeliveryTypeID" id="DeliveryType">
                                        </select>
                                    }
                                    <span asp-validation-for="DeliveryTypeID" class="text-danger"></span>
                                </div>
                                <div class="form-group col col-md-6">
                                    <label asp-for="PaymentTypeID" class="control-label">Sposób płatności</label>
                                    <label style="color:mediumseagreen" data-toggle="tooltip" data-placement="top" title="Pole wymagane"> *</label>
                                    @if (userType == "2")
                                    {
                                        <input asp-for="@Model.PaymentType.Name" class="form-control" readonly />
                                        <input type="hidden" asp-for="PaymentTypeID" />
                                    }
                                    else
                                    {
                                        <select asp-for="PaymentTypeID" class="form-control myselect" style="width:100%" asp-items="ViewBag.PaymentTypeID" id="PaymentType">
                                        </select>
                                    }
                                    <span asp-validation-for="PaymentTypeID" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="form-row" style="margin-left:10px; margin-right:10px">
                                <div class="form-group col">
                                    <label asp-for="DeliveryDetails" class="control-label">Szczegóły dostawy</label>
                                    <textarea asp-for="DeliveryDetails" class="form-control" id="DeliveryDetails"></textarea>
                                </div>
                                <div class="form-group col">
                                    <label asp-for="PaymentDetails" class="control-label">Szczegóły płatności</label>
                                    <textarea asp-for="PaymentDetails" class="form-control" id="PaymentDetails"></textarea>
                                </div>
                            </div>
                            <div class="form-row" style="margin-left:10px; margin-right:10px;">
                                <div class="form-group col col-md-6">
                                    <label asp-for="VatRateID" class="control-label">Stawka Vat</label>
                                    <label style="color:mediumseagreen" data-toggle="tooltip" data-placement="top" title="Pole wymagane"> *</label>
                                    @if (userType == "2")
                                    {
                                        <input asp-for="@Model.VatRate.Name" class="form-control" readonly />
                                        <input type="hidden" asp-for="VatRateID" />
                                    }
                                    else
                                    {
                                        <select asp-for="VatRateID" class="form-control myselect" style="width:100%" asp-items="ViewBag.VatRateID" id="VatRate">
                                        </select>
                                    }
                                    <span asp-validation-for="VatRateID" class="text-danger"></span>
                                </div>
                                <div class="form-group col">
                                    <label asp-for="NetPrice" class="control-label">Cena netto</label>
                                    <input id="NetPrice" asp-for="NetPrice" class="form-control" />
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-md-6" style="margin-left:10px; margin-right:10px">
                                    <label asp-for="InvoiceNumber" class="control-label">Nr faktury</label>
                                    <input id="Invoice" asp-for="InvoiceNumber" class="form-control" placeholder="np. 01/01/2020" />
                                </div>
                            </div>
                        </div>

                    </div>
                </form>
                <div class="row">
                    <div class="col">
                        @if (@Context.Session.GetString("UserTypeID") != "2")
                        {
                            @if (Model.ProductionStageID != 8)
                            {
                                @if (Model.IsActive)
                                {
                                    <!-- Button to Open the Modal -->
                                    <button type="button" class="btn btn-outline-danger buttMargin" data-toggle="modal" data-target="#myModalDeactivate">
                                        Usuń
                                    </button>
                                    <!-- The Modal -->
                                    <div class="modal" id="myModalDeactivate">
                                        <div class="modal-dialog">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h4 class="modal-title">Uwaga!</h4>
                                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                                </div>
                                                <!-- Modal body -->
                                                <div class="modal-body">
                                                    Czy chcesz usunąć tę pozycję?
                                                </div>
                                                <div class="modal-footer">
                                                    <form asp-action="Deactivate" asp-route-id="@Model.OrderID">
                                                        <input type="hidden" asp-for="OrderID" />
                                                        <input type="submit" value="Tak" class="btn btn-outline-danger buttMargin" />
                                                        <button type="button" class="btn btn-outline-secondary buttMargin" data-dismiss="modal">Nie</button>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                }

                                else
                                {
                                    <div class="input-group">
                                        <form asp-action="Restore" asp-route-id="@Model.OrderID">
                                            <input type="hidden" asp-for="OrderID" />
                                            <input type="submit" value="Przywróć" class="btn btn-outline-success buttMargin" style="margin:5px" />
                                        </form>
                                        <input type="button" value="Usuń trwale" class="btn btn-outline-danger buttMargin" data-toggle="modal" data-target="#myModalDelete" style="margin:5px" />
                                    </div>
                                    <!-- The Modal 2-->
                                    <div class="modal" id="myModalDelete">
                                        <div class="modal-dialog">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h4 class="modal-title">Uwaga!</h4>
                                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                                </div>
                                                <!-- Modal body -->
                                                <div class="modal-body">
                                                    Czy na pewno chcesz trwale usunąć tę pozycję?
                                                    Nie będzie już możliwości przywrócenia tego zamówienia.
                                                </div>
                                                <div class="modal-footer">
                                                    <form asp-action="Delete" asp-route-id="@Model.OrderID">
                                                        <input type="hidden" asp-for="OrderID" />
                                                        <input type="submit" value="Tak" class="btn btn-outline-danger buttMargin" />
                                                        <button type="button" class="btn btn-outline-secondary buttMargin" data-dismiss="modal">Nie</button>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                }
                            }
                        }

                    </div>
                    <div class="col" style="text-align:center">
                        <a class="btn btn-outline-secondary" role="button" aria-haspopup="true" aria-expanded="false" asp-action="PrintOrder" asp-route-id="@Model.OrderID">
                            <i class="fe fe-printer" style="vertical-align:text-top"></i>
                            Wydruk zlecenia
                        </a>
                    </div>
                    <div class="col" style="text-align:right">
                        <input form="saveForm" type="submit" value="Zapisz" class="btn btn-success">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}