@model IEnumerable<Printo.Data.Data.Order>

@{
    ViewData["Title"] = "Archiwum - Zamówienia zakończone";
}

<div class="row">
    <div class="col-md-12">
        @*AKTYWNE*@
        <div class="card shadow">
            <div class="card-header">
                <div class="row">
                    <div class="col">
                        <h4 class="mb-2 page-title">Archiwum - zamówienia zakończone</h4>
                    </div>
                    <div class="col">
                        <a class="btn btn-outline-success float-right" role="button" aria-haspopup="true" aria-expanded="false" asp-action="Create">
                            <i class="fe fe-plus fe-16" style="padding-right:5px; vertical-align:text-bottom"></i>
                            Dodaj
                        </a>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <table class="table dataTable table-responsive-lg table-hover" id="dataTable-orders">
                    <thead>
                        <tr>
                            <th>Nr</th>
                            <th>Start</th>
                            <th>Koniec</th>
                            <th>Etap produkcji</th>
                            <th>Klient</th>
                            <th>Produkt</th>
                            <th>Nazwa zamówienia</th>
                            <th>Nakład</th>
                            <th>Akcja</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.Where(x => x.IsActive == true))
                        {
                            <tr class="tableCursor" onclick="location.href = '@(Url.Action("Edit", "Orders", new { id = item.OrderID }, null))'">
                                <td>
                                    @Html.DisplayFor(modelItem => item.OrderID)
                                </td>
                                <td style="text-align:center">
                                    @if (item.StartDate != null)
                                    {@item.StartDate.Value.ToString("dd/MM")}
                                </td>
                                <td style="text-align:center">
                                    @if (item.EndDate != null)
                                    {@item.EndDate.Value.ToString("dd/MM")}
                                </td>
                                <td>
                                    @if (item.ProductionStage.Color != null)
                                    {
                                        @if (item.ProductionStage.Color.ToString() == "#ffffff")
                                        {
                                            <a class="btn disabled" type="button" style="padding-bottom:2px;color:black;background:@Html.DisplayFor(modelItem => item.ProductionStage.Color)">
                                                @Html.DisplayFor(modelItem => item.ProductionStage.Name)
                                            </a>
                                        }
                                        else
                                        {
                                            <a class="btn disabled" type="button" style="padding-bottom:2px;color:white;background:@Html.DisplayFor(modelItem => item.ProductionStage.Color)">
                                                @Html.DisplayFor(modelItem => item.ProductionStage.Name)
                                            </a>
                                        }
                                    }
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Client.Name)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.OrderName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Product.Name)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Quantity)
                                </td>
                                <td>
                                    <a class="btn btn-outline-success" asp-action="Edit" asp-route-id="@item.OrderID" role="button" data-toggle="tooltip" title="Edytuj">
                                        <i class="fe fe-edit fe-16"></i>
                                    </a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
        @*NIEAKTYWNE*@
        @foreach (var item in Model)
        {
            if (item.IsActive == false)
            {
                <div class="row">
                    <div class="col" style="text-align:center; margin:10px">
                        <button class="btn btn-outline-dark" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                            Nieaktywne
                        </button>
                    </div>
                </div>
                break;
            }
        }
        <div class="card shadow collapse" id="collapseExample">
            <div class="card-header">
                <div class="row">
                    <div class="col">
                        <h4 class="mb-2 page-title">Zamówienia - pozycje usunięte</h4>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <table class="table dataTable table-responsive-lg table-hover" id="dataTable-2">
                    <thead>
                        <tr>
                            <th>Nr</th>
                            <th>Start</th>
                            <th>Koniec</th>
                            <th>Etap produkcji</th>
                            <th>Klient</th>
                            <th>Produkt</th>
                            <th>Nazwa zamówienia</th>
                            <th>Nakład</th>
                            <th>Akcja</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.Where(x => x.IsActive == false))
                        {
                            <tr class="tableCursor" onclick="location.href = '@(Url.Action("Edit", "Orders", new { id = item.OrderID }, null))'">
                                <td>
                                    @Html.DisplayFor(modelItem => item.OrderID)
                                </td>
                                <td style="text-align:center">
                                    @if (item.StartDate != null)
                                    {@item.StartDate.Value.ToString("dd/MM")}
                                    <br />
                                    @if (item.StartDate != null)
                                    {@item.StartDate.Value.ToString("H:mm")}
                                </td>
                                <td style="text-align:center">
                                    @if (item.EndDate != null)
                                    {@item.EndDate.Value.ToString("dd/MM")}
                                    <br />
                                    @if (item.EndDate != null)
                                    {@item.EndDate.Value.ToString("H:mm")}
                                </td>
                                <td>
                                    @if (item.ProductionStage.Color != null)
                                    {
                                        @if (item.ProductionStage.Color.ToString() == "#ffffff")
                                        {
                                            <a class="btn disabled" type="button" style="padding-bottom:2px;color:black;background:@Html.DisplayFor(modelItem => item.ProductionStage.Color)">
                                                @Html.DisplayFor(modelItem => item.ProductionStage.Name)
                                            </a>
                                        }
                                        else
                                        {
                                            <a class="btn disabled" type="button" style="padding-bottom:2px;color:white;background:@Html.DisplayFor(modelItem => item.ProductionStage.Color)">
                                                @Html.DisplayFor(modelItem => item.ProductionStage.Name)
                                            </a>
                                        }
                                    }
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Client.Name)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.OrderName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Product.Name)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Quantity)
                                </td>
                                <td>
                                    <a class="btn btn-outline-success" asp-action="Edit" asp-route-id="@item.OrderID" role="button" data-toggle="tooltip" title="Edytuj">
                                        <i class="fe fe-edit fe-16"></i>
                                    </a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>