@using Microsoft.AspNetCore.Http;

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no" />
    <meta name="description" content="Zarządzanie zamówieniami drukarni">
    <meta name="author" content="Michał Sierotowicz">
    <link rel="icon" href="~/favicon.ico">
    <title>@ViewData["Title"] - Printo</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <!-- Simple bar CSS -->
    <link rel="stylesheet" href="~/css/simplebar.css">
    <!-- Fonts CSS -->
    <link href="https://fonts.googleapis.com/css2?family=Overpass:ital,wght@0,100;0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <!-- Icons CSS -->
    <link rel="stylesheet" href="~/css/feather.css">
    <link rel="stylesheet" href="~/css/dataTables.bootstrap4.css">
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/css/select2.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/css/dropzone.css">
    <link rel="stylesheet" href="~/css/uppy.min.css">
    <link rel="stylesheet" href="~/css/jquery.steps.css">
    <link rel="stylesheet" href="~/css/jquery.timepicker.css">
    <link rel="stylesheet" href="~/css/quill.snow.css">
    <link rel="stylesheet" type="text/css" href="~/css/jquery.datetimepicker.css" />
    <!-- Date Range Picker CSS -->
    <link rel="stylesheet" href="~/css/daterangepicker.css">
    <!-- App CSS -->
    <link rel="stylesheet" href="~/css/app-light.css" id="lightTheme">
    <link rel="stylesheet" href="~/css/app-dark.css" id="darkTheme" disabled>
    <!-- FULL CALENDAR -->
    <link rel="stylesheet" href="~/lib/fullcalendar-5.3.2/lib/main.css" />
    <link href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css' rel='stylesheet'>
    <script src="~/js/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.1.4/toastr.css" integrity="sha512-oe8OpYjBaDWPt2VmSFR+qYOdnTjeV9QPLJUeqZyprDEQvQLJ9C5PCFclxwNuvb/GQgQngdCXzKSFltuHD3eCxA==" crossorigin="anonymous" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.1.4/toastr.min.js" integrity="sha512-lbwH47l/tPXJYG9AcFNoJaTMhGvYWhVM9YI43CT+uteTRRaiLCui8snIgyAN8XWgNjNhCqlAUdzZptso6OCoFQ==" crossorigin="anonymous"></script>
        <!-- CUSTOM CSS -->
    <link rel="stylesheet" href="~/css/site.css" />
</head>

<body class="vertical  light">
    <div class="wrapper">
        @*NAVBAR TOP*@
        <nav class="topnav navbar navbar-light static-top">
            <ul class="nav">
                <li class="nav-item">
                    <button type="button" class="navbar-toggler text-muted mt-2 p-0 mr-3 collapseSidebar">
                        <i class="fe fe-menu navbar-toggler-icon"></i>
                    </button>
                </li>
                <li class="nav-item">
                    <a class="btn mt-2 p-0 mr-3" asp-area="" asp-controller="Home" asp-action="Index">
                        <i class="fe fe-home fe-16"></i>
                    </a>
                </li>
            </ul>

            @if (@Context.Session.GetString("UserID") != null)
            {
                <ul class="nav">
                    <li class="nav-item">
                        <a class="nav-link"><b> Witaj, @Context.Session.GetString("Name") @Context.Session.GetString("Surname")</b></a>
                    </li>

                    <li class="nav-item">
                        <a class="btn mt-2 p-0 mr-3" href="#" data-toggle="modal" data-target="#logoutModal">Wyloguj</a>
                    </li>
                </ul>
            }

        </nav>
        <!-- navbar -->
        @*SIDEBAR LEFT*@
        <aside class="sidebar-left border-right bg-white shadow" id="leftSidebar" data-simplebar>
            <a href="#" class="btn collapseSidebar toggle-btn d-lg-none text-muted ml-2 mt-3" data-toggle="toggle">
                <i class="fe fe-x"><span class="sr-only"></span></i>
            </a>

            <!-- nav bar -->
            <nav class="vertnav navbar navbar-light">
                <div class="w-100 mb-4 d-flex navbar-header">
                    <a class="navbar-brand mx-auto mt-2 flex-fill text-center" asp-controller="Home" asp-action="Index">
                        <img src="~/assets/images/logo.png" style="max-height:55px" alt="Printo">
                    </a>
                </div>

                <p class="text-muted nav-heading mt-4 mb-1">
                    <span>Menu główne</span>
                </p>
                <ul class="navbar-nav flex-fill w-100 mb-2">

                    <li class="nav-item w-100">
                        <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index">
                            <i class="fe fe-clock fe-16"></i>
                            <span class="ml-3 item-text">Harmonogram</span>
                        </a>
                    </li>
                    @if (@Context.Session.GetString("UserTypeID") != "2")
                    {
                        <li class="nav-item w-100">
                            <a class="nav-link" asp-area="" asp-controller="Orders" asp-action="Create">
                                <i class="fe fe-plus fe-16"></i>
                                <span class="ml-3 item-text">Nowe zamówienie</span>
                            </a>
                        </li>
                    }

                    <li class="nav-item w-100">
                        <a class="nav-link" asp-area="" asp-controller="Orders" asp-action="Index">
                            <i class="fe fe-monitor fe-16"></i>
                            <span class="ml-3 item-text">Aktualne zamówienia</span>
                        </a>
                    </li>
                    <li class="nav-item w-100">
                        <a class="nav-link" asp-area="" asp-controller="Orders" asp-action="FinishedOrders">
                            <i class="fe fe-archive fe-16"></i>
                            <span class="ml-3 item-text">Archiwum zamówień</span>
                        </a>
                    </li>

                    <hr />

                    <li class="nav-item w-100">
                        <a class="nav-link" asp-area="" asp-controller="Clients" asp-action="Index">
                            <i class="fe fe-users fe-16"></i>
                            <span class="ml-3 item-text">Klienci</span>
                        </a>
                    </li>

                    <hr />

                    <li class="nav-item w-100">
                        <a class="nav-link" asp-area="" asp-controller="ToDoes" asp-action="Index">
                            <i class="fe fe-alert-circle fe-16"></i>
                            <span class="ml-3 item-text">Do zrobienia</span>
                        </a>
                    </li>

                    <hr />
                    @if (@Context.Session.GetString("UserTypeID") != "2")
                    {
                        <li class="nav-item w-100">
                            <a class="nav-link" asp-area="" asp-controller="Statistics" asp-action="Index">
                                <i class="fe fe-bar-chart-2 fe-16"></i>
                                <span class="ml-3 item-text">Statystyki</span>
                            </a>
                        </li>
                    }
                </ul>

                @if (@Context.Session.GetString("UserTypeID") == 1.ToString())
                {
                    @*KONFIGURACJA*@
                    <p class="text-muted nav-heading mt-4 mb-1">
                        <span>Inne</span>
                    </p>
                    <ul class="navbar-nav flex-fill w-100 mb-2">
                        <li class="nav-item dropdown">
                            <a href="#config" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle nav-link">
                                <i class="fe fe-sliders fe-16"></i>
                                <span class="ml-3 item-text">Konfiguracja</span>
                            </a>
                            <ul class="collapse list-unstyled pl-4 w-100" id="config">

                                <a class="nav-link" asp-area="" asp-controller="PaperTypes" asp-action="Index">
                                    <i class="fe fe-arrow-right fe-16"></i>
                                    <span class="ml-3 item-text">Papiery</span>
                                </a>
                                <a class="nav-link" asp-area="" asp-controller="PaperWeights" asp-action="Index">
                                    <i class="fe fe-arrow-right fe-16"></i>
                                    <span class="ml-3 item-text">Gramatury papieru</span>
                                </a>
                                <a class="nav-link" asp-area="" asp-controller="Products" asp-action="Index">
                                    <i class="fe fe-arrow-right fe-16"></i>
                                    <span class="ml-3 item-text">Produkty</span>
                                </a>
                                <a class="nav-link" asp-area="" asp-controller="Formats" asp-action="Index">
                                    <i class="fe fe-arrow-right fe-16"></i>
                                    <span class="ml-3 item-text">Formaty produktów</span>
                                </a>

                                <hr />


                                <a class="nav-link" asp-area="" asp-controller="SheetSizes" asp-action="Index">
                                    <i class="fe fe-arrow-right fe-16"></i>
                                    <span class="ml-3 item-text">Arkusze drukarskie</span>
                                </a>
                                <a class="nav-link" asp-area="" asp-controller="PrintColors" asp-action="Index">
                                    <i class="fe fe-arrow-right fe-16"></i>
                                    <span class="ml-3 item-text">Kolory zadruku</span>
                                </a>
                                <a class="nav-link" asp-area="" asp-controller="ProductionStages" asp-action="Index">
                                    <i class="fe fe-arrow-right fe-16"></i>
                                    <span class="ml-3 item-text">Etapy produkcyjne</span>
                                </a>
                                <a class="nav-link" asp-area="" asp-controller="Finishings" asp-action="Index">
                                    <i class="fe fe-arrow-right fe-16"></i>
                                    <span class="ml-3 item-text">Uszlachetnienia druku</span>
                                </a>
                                <a class="nav-link" asp-area="" asp-controller="PostPresses" asp-action="Index">
                                    <i class="fe fe-arrow-right fe-16"></i>
                                    <span class="ml-3 item-text">Introligatornia</span>
                                </a>
                                <a class="nav-link" asp-area="" asp-controller="Machines" asp-action="Index">
                                    <i class="fe fe-arrow-right fe-16"></i>
                                    <span class="ml-3 item-text">Maszyny drukujące</span>
                                </a>

                                <hr />

                                <a class="nav-link" asp-area="" asp-controller="Users" asp-action="Index">
                                    <i class="fe fe-arrow-right fe-16"></i>
                                    <span class="ml-3 item-text">Użytkownicy</span>
                                </a>
                                <a class="nav-link" asp-area="" asp-controller="UserTypes" asp-action="Index">
                                    <i class="fe fe-arrow-right fe-16"></i>
                                    <span class="ml-3 item-text">Rodzaje użytkowników</span>
                                </a>

                                <hr />

                                <a class="nav-link" asp-area="" asp-controller="DeliveryTypes" asp-action="Index">
                                    <i class="fe fe-arrow-right fe-16"></i>
                                    <span class="ml-3 item-text">Rodzaje dostawy</span>
                                </a>
                                <a class="nav-link" asp-area="" asp-controller="PaymentTypes" asp-action="Index">
                                    <i class="fe fe-arrow-right fe-16"></i>
                                    <span class="ml-3 item-text">Rodzaje płatności</span>
                                </a>
                                <a class="nav-link" asp-area="" asp-controller="VatRates" asp-action="Index">
                                    <i class="fe fe-arrow-right fe-16"></i>
                                    <span class="ml-3 item-text">Stawki Vat</span>
                                </a>
                            </ul>
                        </li>

                    </ul>
                }

            </nav>
        </aside>
        <!-- sidebar -->
        @*MAIN*@
        <main role="main" class="main-content" style="padding-top: 0px;">
            <div class="">
                <div class="row justify-content-center">
                    <div class="col">
                        <div class="card shadow mb-4">
                            <div class="">
                                <script type="text/javascript">
                                         var msg = "@Html.Raw(TempData["msg"])";
                                         if (msg != "") {
                                             toastr.options = {
                                                 "closeButton": true,
                                                 "debug": false,
                                                 "newestOnTop": false,
                                                 "progressBar": true,
                                                 "positionClass": "toast-top-right",
                                                 "preventDuplicates": false,
                                                 "onclick": null,
                                                 "showDuration": "50",
                                                 "hideDuration": "100",
                                                 "timeOut": "3000",
                                                 "extendedTimeOut": "1000",
                                                 "showEasing": "swing",
                                                 "hideEasing": "linear",
                                                 "showMethod": "fadeIn",
                                                 "hideMethod": "fadeOut"
                                             }
                                             toastr["success"](msg)
                                         }
                                </script>
                                @RenderBody()
                            </div> <!-- .card-body -->
                        </div> <!-- .card -->
                    </div> <!-- .col-12 -->
                </div> <!-- .row -->
            </div> <!-- .container-fluid -->
        </main>
        <!-- main -->
    </div>
    <!-- .wrapper -->
    <!-- Logout Modal-->
    <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Wyloguj</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">Czy na pewno chcesz się wylogować?</div>
                <div class="modal-footer">
                    <button class="btn btn-outline-secondary" type="button" data-dismiss="modal">Nie, zostaję</button>
                    <a class="btn btn-outline-success" asp-area="" asp-controller="Login" asp-action="Logout">Tak, wyloguj</a>
                </div>
            </div>
        </div>
    </div>

    <script src="~/js/popper.min.js"></script>
    <script src="~/js/moment-with-locales.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
    <script src="~/js/simplebar.min.js"></script>
    <script src='~/js/daterangepicker.js'></script>
    <script src='~/js/jquery.stickOnScroll.js'></script>
    <script src="~/js/tinycolor-min.js"></script>
    <script src="~/js/config.js"></script>
    <script src='~/js/jquery.dataTables.min.js'></script>
    <script src='~/js/dataTables.bootstrap4.min.js'></script>
    <script src="~/js/d3.min.js"></script>
    <script src="~/js/topojson.min.js"></script>
    <script src="~/js/datamaps.all.min.js"></script>
    <script src="~/js/datamaps-zoomto.js"></script>
    <script src="~/js/datamaps.custom.js"></script>
    <script src="~/js/Chart.min.js"></script>

    <script>
        /* defind global options */
        Chart.defaults.global.defaultFontFamily = base.defaultFontFamily;
        Chart.defaults.global.defaultFontColor = colors.mutedColor;
    </script>
    <script src="~/js/gauge.min.js"></script>
    <script src="~/js/jquery.sparkline.min.js"></script>
    <script src="~/js/apexcharts.min.js"></script>
    <script src="~/js/apexcharts.custom.js"></script>
    <script src='~/js/jquery.mask.min.js'></script>
    <script src='~/js/select2.min.js'></script>
    <script src='~/js/jquery.steps.min.js'></script>
    <script src='~/js/jquery.validate.min.js'></script>
    <script src='~/js/jquery.timepicker.js'></script>
    <script src='~/js/dropzone.min.js'></script>
    <script src='~/js/uppy.min.js'></script>
    <script src='~/js/quill.min.js'></script>
    <script src="~/js/jquery.datetimepicker.full.min.js"></script>

    <script src="~/lib/fullcalendar-5.3.2/lib/main.js"></script>
    <script src="~/lib/fullcalendar-5.3.2/lib/locales/pl.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>

    <script src="~/js/apps.js"></script>
    <script src="~/js/site.js"></script>
    @RenderSection("Scripts", false)
</body>
</html>

@*CALENDAR*@
<script>
    $(document).ready(function () {

    var selectedEvent = null;
    var initDate = new Date();

    document.getElementById('calendar') && drawCalendar();

    function drawCalendar() {
        var calendarEl = document.getElementById('calendar');
        var calendar = new FullCalendar.Calendar(calendarEl, {
            themeSystem: 'default',
            initialView: 'timeGridWeek',
            initialDate: initDate,
            eventColor: 'green',
            locale: 'pl',
            headerToolbar: {
                start: 'today prev,next',
                end: 'timeGridDay,timeGridWeek,dayGridMonth'
            },
            slotDuration: '00:30:00',
            slotMinTime: "07:00:00",
            slotMaxTime: "23:30:00",
            weekends: false,
            extendedProps: {
                description: 'description',
                orderID: 'orderID'
            },
            events: { url: "/home/GetAllEvents" },
            eventClick: function (info, jsEvent, view) {
                selectedEvent = info.event;
                $('#eventModal #eventTitle').text(selectedEvent.title);
                var $desc = $('<div/>');
                $desc.append($('<p/>').html('<b>Start: </b>' + moment(selectedEvent.start).format('DD.MM.YYYY HH:mm')));
                if (selectedEvent.end != null)
                    $desc.append($('<p/>').html('<b>Koniec: </b>' + moment(selectedEvent.end).format('DD.MM.YYYY HH:mm')));
                if (selectedEvent.extendedProps.description != null)
                    $desc.append($('<p/>').html('<b>Opis: </b>' + selectedEvent.extendedProps.description));
                if (selectedEvent.extendedProps.orderID != null) { $('#DivBtnOrder').show(); } else { $('#DivBtnOrder').hide(); }
                $('#eventModal #pDetails').empty().html($desc);
                $('#eventModal').modal();
            },
            selectable: true,
            unselectAuto: true,
            select: function (info, start, end, allDay) {
                selectedEvent = {
                    id: 0,
                    title: '',
                    description: '',
                    start: info.start,
                    end: info.end,
                    allDay: info.allDay,
                    color: '',
                    orderID: ''
                };
                initDate = selectedEvent.start;
                openAddEditForm();
                calendar.unselect();
            },
            editable: true,
            eventDurationEditable: true,
            eventDrop: function (info) {
                var data = {
                    EventID: info.event.id,
                    Title: info.event.title,
                    Start: moment(info.event.start).format('DD.MM.YYYY HH:mm'),
                    End: info.event.end != null ? moment(info.event.end).format('DD.MM.YYYY HH:mm') : null,
                    AllDay: info.event.allDay,
                    Description: info.event.description,
                    BackgroundColor: info.event.color,
                    OrderID: info.event.orderID
                };
                SaveEvent(data);
            },
            eventResize: function (info) {
                var data = {
                    EventID: info.event.id,
                    Title: info.event.title,
                    Start: moment(info.event.start).format('DD.MM.YYYY HH:mm'),
                    End: info.event.end != null ? moment(info.event.end).format('DD.MM.YYYY HH:mm') : null,
                    AllDay: info.event.allDay,
                    Description: info.event.description,
                    BackgroundColor: info.event.color,
                    OrderID: info.event.orderID
                };
                SaveEvent(data);
            }
        });
        calendar.render();
    }

    function openAddEditForm() {
        if (selectedEvent != null) {
            $('#txtStart, #txtEnd').datetimepicker('destroy');
            $('#hdEventID').val(selectedEvent.id);
            $('#txtTitle').val(selectedEvent.title);
            $('#txtStart').val(moment(selectedEvent.start).format('DD.MM.YYYY HH:mm'));
            $('#chkIsFullDay').prop("checked", selectedEvent.allDay || false);
            $('#chkIsFullDay').change();
            $('#txtEnd').val(selectedEvent.end != null ? moment(selectedEvent.end).format('DD.MM.YYYY HH:mm') : '');
            if (selectedEvent.description == '') {
                $('#txtDescription').val(selectedEvent.description);
            }
            else {
                $('#txtDescription').val(selectedEvent.extendedProps.description);
            }
            $('#ddThemeColor').val(selectedEvent.color);
            if (selectedEvent.orderID == '') {
                $('#divOrder').show();
                $('#selectedOrder').val(selectedEvent.orderID);
            }
            else {
                $('#divOrder').hide();
                $('#selectedOrder').val(selectedEvent.extendedProps.orderID);
            }
            $('#txtStart, #txtEnd').datetimepicker({
                contentWindow: window,
                step: 30,
                minTime: '7:00',
                maxTime: '22:30',
                format: 'd.m.Y H:i'
            });
        }
        $('#eventModal').modal('hide');
        $('#eventModalSave').modal();
    }

    $('#btnEdit').click(function () {
        openAddEditForm();
    })

    $('#btnSave').click(function () {
        //Validation
        if ($('#txtTitle').val().trim() == "") {
            alert('Tytuł jest wymagany');
            return;
        }
        if ($('#txtStart').val().trim() == "") {
            alert('Data startu jest wymagana');
            return;
        }

        if ($('#chkIsFullDay').is(':checked') == false && $('#txtEnd').val().trim() == "") {
            alert('Data końca jest wymagana');
            return;
        }
        else {
            var startDate = moment($('#txtStart').val(), "DD.MM.YYYY HH:mm").toDate();
            var endDate = moment($('#txtEnd').val(), "DD.MM.YYYY HH:mm").toDate();
            if (startDate > endDate && $('#chkIsFullDay').is(':checked') == false) {
                alert("Nieprawidłowa data końcowa (nie może być przed startem)");
                return;
            }
        }

        var data = {
            EventID: $('#hdEventID').val(),
            Title: $('#txtTitle').val().trim(),
            Start: $('#txtStart').val().trim(),
            End: $('#chkIsFullDay').is(':checked') ? null : $('#txtEnd').val().trim(),
            AllDay: $('#chkIsFullDay').is(':checked') ? true : false,
            Description: $('#txtDescription').val().trim(),
            BackgroundColor: $('#ddThemeColor').val(),
            OrderID: $('#selectedOrder').val(),
        }
        SaveEvent(data);
    })

    function SaveEvent(data) {
        $.ajax({
            type: "POST",
            url: '@Url.Action("SaveEvent", "Home")',
            data: data,
            dataType: "json",
            success: function (data) {
                initDate = selectedEvent.start;
                drawCalendar();
                $('#eventModalSave').modal('hide');
            },
            error: function () {
                alert('Nie udało się odświeżyć kalendarza po zapisie.');
            }
        })
    }

    $('#btnOrder').click(function () {
        if (selectedEvent.extendedProps.orderID != null) {
            window.location.href = '@Url.Action("Edit", "Orders")/' + selectedEvent.extendedProps.orderID + '';
        }
        else alert('Brak zamówienia przypisanego do tego bloku czasowego.');
    })

    $('#btnGray').click(function () {
        if (selectedEvent != null) {
            $.ajax({
                type: "POST",
                url: '@Url.Action("ChangeColor", "Home")',
                data: { EventID: selectedEvent.id, color: "gray" },
                dataType: "json",
                success: function () {
                    initDate = selectedEvent.start;
                    drawCalendar();
                    $('#eventModal').modal('hide');

                },
                error: function () {
                    alert('Nie udało się odświeżyć kalendarza.');
                }
            })
        }
    })

    $('#btnGreen').click(function () {
        if (selectedEvent != null) {
            $.ajax({
                type: "POST",
                url: '@Url.Action("ChangeColor", "Home")',
                data: { EventID: selectedEvent.id, color: "#3ad29f" },
                dataType: "json",
                success: function () {
                    //REFRESH CALENDAR
                    initDate = selectedEvent.start;
                    drawCalendar();
                    $('#eventModal').modal('hide');

                },
                error: function () {
                    alert('Nie udało się odświeżyć kalendarza.');
                }
            })
        }
    })

    $('#btnBlue').click(function () {
        if (selectedEvent != null) {
            $.ajax({
                type: "POST",
                url: '@Url.Action("ChangeColor", "Home")',
                data: { EventID: selectedEvent.id, color: "#03A9F4" },
                dataType: "json",
                success: function () {
                    //REFRESH CALENDAR
                    initDate = selectedEvent.start;
                    drawCalendar();
                    $('#eventModal').modal('hide');

                },
                error: function () {
                    alert('Nie udało się odświeżyć kalendarza.');
                }
            })
        }
    })

    $('#btnRed').click(function () {
        if (selectedEvent != null) {
            $.ajax({
                type: "POST",
                url: '@Url.Action("ChangeColor", "Home")',
                data: {
                    EventID: selectedEvent.id,
                    color: "#FF5722"
                },
                dataType: "json",
                success: function () {
                    //REFRESH CALENDAR
                    initDate = selectedEvent.start;
                    drawCalendar();
                    $('#eventModal').modal('hide');

                },
                error: function () {
                    alert('Nie udało się odświeżyć kalendarza.');
                }
            })
        }
    })

    $('#btnDelete').click(function () {
        if (selectedEvent != null && confirm('Czy na pewno chcesz usunąć ten blok czasowy?')) {
            $.ajax({
                type: "POST",
                url: '@Url.Action("DeleteEvent", "Home")',
                data: { EventID: selectedEvent.id },
                dataType: "json",
                success: function () {
                    //REFRESH CALENDAR
                    initDate = selectedEvent.start;
                    drawCalendar();
                    $('#eventModal').modal('hide');

                },
                error: function () {
                    alert('Failed to refresh calendar after delete');
                }
            })
        }
    })

    $('#chkIsFullDay').change(function () {
        if ($(this).is(':checked')) {
            $('#divEndDate').hide();
        }
        else {
            $('#divEndDate').show();
        }
    });
})
</script>

