
@{
    ViewData["Title"] = "Printo - zarządzanie zamówieniami";
}
    <div class="row" style="place-content:center; margin-top:10px">
        <div class="col" style="max-width: fit-content; min-width:215px">
            <div class="card mb-4 border-success cardCursor" style="text-align:center" onclick="location.href='@(Url.Action("Create", "Orders"))'">
                <div class="card-body" style="padding:0.5rem">
                    <div class="col" style="padding:0px">
                        <i class="fe fe-plus fe-32"></i>
                        <br />
                        <a class="btn" asp-area="" asp-controller="Orders" asp-action="Create">
                            <span style="font-weight:bold">Nowe zamówienie</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col" style="max-width: fit-content; min-width:215px">
            <div class="card mb-4 border-success cardCursor" style="text-align:center" onclick="location.href='@(Url.Action("Index", "Orders"))'">
                <div class="card-body" style="padding:0.5rem">
                    <div class="col" style="padding:0px">
                        <i class="fe fe-monitor fe-32"></i>
                        <br />
                        <a class="btn" asp-area="" asp-controller="Orders" asp-action="Index">
                            <span style="font-weight:bold">Aktualne zamówienia : </span><span class="badge badge-success" style="font-weight:bold;color:white;padding:5px">@ViewBag.OrdersCount</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col" style="max-width: fit-content; min-width:215px">
            <div class="card mb-4 border-success cardCursor" style="text-align:center" onclick="location.href='@(Url.Action("Index", "ToDoes"))'">
                <div class="card-body" style="padding:0.5rem">
                    <div class="col" style="padding:0px">
                        <i class="fe fe-alert-circle fe-32"></i>
                        <br />
                        <a class="btn" asp-area="" asp-controller="ToDoes" asp-action="Index">
                            <span style="font-weight:bold">Do zrobienia : </span><span class="badge badge-success" style="font-weight:bold;color:white;padding:5px">@ViewBag.ToDoesCount</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

<div class="container" id="calendar" style="padding-bottom:15px">
</div>

<div id="eventModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title"><span id="eventTitle"></span></h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <button id="btnDelete" class="btn btn-outline-danger float-right">
                    Remove
                </button>
                <button id="btnEdit" class="btn btn-outline-danger float-right" style="margin-right:5px">
                    Edit
                </button>
                <p id="pDetails"></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-dark" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div id="eventModalSave" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title"><span id="eventTitle"></span></h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <form class="form" id="saveForm">
                    @*<input type="hidden" id="hdEventID"/>*@
                    <div class="form-group">
                        <label>ID</label>
                        <input type="text" id="hdEventID" class="form-control"/>
                    </div>
                    <div class="form-group">
                        <label>Title</label>
                        <input type="text" id="txtTitle" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label>Start</label>
                        <div class="input-group date">
                            <input type="text" id="txtStart" class="form-control" autocomplete="off" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label>All day</label>
                        <div class="custom-checkbox">
                            <label>
                                <input type="checkbox" id="chkIsFullDay" checked="checked" />Is all day event
                            </label>
                        </div>
                    </div>
                    <div class="form-group" id="divEndDate" style="display:none">
                        <label>End</label>
                        <div class="input-group date">
                            <input type="text" id="txtEnd" class="form-control" autocomplete="off" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Description</label>
                        <textarea id="txtDescription" rows="3" class="form-control"></textarea>
                    </div>
                    <div class="form-group">
                        <label>Color</label>
                        <select id="ddThemeColor" class="form-control">
                            <option selected="selected" value="#3ad29f">Default</option>
                            <option value="red">Red</option>
                            <option value="green">Green</option>
                            <option value="blue">Blue</option>
                        </select>
                    </div>
                    <button form="saveForm" type="button" id="btnSave" class="btn btn-outline-primary float-right">
                        Save
                    </button>
                    <button type="button" class="btn btn-dark" data-dismiss="modal">Close</button>
                </form>
            </div>
        </div>
    </div>
</div>

