@model Printo.Data.Data.Client
@{
    ViewData["Title"] = String.Format("Edycja klienta {0}", Model.Name);
}

<div class="row">
    <div class="col-12">
        <div class="card shadow mb-4">
            <div class="card-header">
                <div class="row">
                    <div class="col">
                        <h5 class="mb-2 page-title">Klient @Model.Name</h5>
                    </div>
                    <div class="col">
                        <a class="btn btn-outline-success float-right" role="button" aria-haspopup="true" aria-expanded="false" asp-action="Index">
                            <i class="fe fe-arrow-left" style="vertical-align:text-top"></i>
                            Powrót do listy klientów
                        </a>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <form asp-action="Edit" id="saveForm">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input type="hidden" asp-for="ClientID" />
                    <input type="hidden" asp-for="IsActive" />
                    <input type="hidden" asp-for="AddedDate" />
                    <input type="hidden" asp-for="UpdatedDate" />
                    <input type="hidden" asp-for="AddedUserID" />
                    <input type="hidden" asp-for="UpdatedUserID" />
                    <div class="card-columns">
                        <div class="card shadow mb-4" style="padding-top:10px">
                            <div class="form-row" style="margin-left:10px; margin-right:10px">
                                <div class="form-group col">
                                    <label asp-for="Name" class="control-label">Nazwa firmy lub imię i nazwisko</label>
                                    <input asp-for="Name" type="text" class="form-control" />
                                    <span asp-validation-for="Name" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="form-row" style="margin-left:10px; margin-right:10px">
                                <div class="form-group col">
                                    <label asp-for="CompanyFullName" class="control-label">Pełna nazwa firmy</label>
                                    <input asp-for="CompanyFullName" type="text" class="form-control" />
                                    <span asp-validation-for="CompanyFullName" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="form-row" style="margin-left:10px; margin-right:10px">
                                <div class="form-group col">
                                    <label asp-for="NIP" class="control-label">NIP Firmy</label>
                                    <input asp-for="NIP" type="text" class="form-control" />
                                    <span asp-validation-for="NIP" class="text-danger"></span>
                                </div>
                            </div>
                        </div>

                        <div class="card shadow mb-4" style="padding-top:10px">
                            <div class="form-row" style="margin-left:10px; margin-right:10px">
                                <div class="form-group col">
                                    <label asp-for="Phone" class="control-label">Numer telefonu</label>
                                    <input asp-for="Phone" type="text" class="form-control" />
                                    <span asp-validation-for="Phone" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="form-row" style="margin-left:10px; margin-right:10px">
                                <div class="form-group col">
                                    <label asp-for="Email" class="control-label">Adres e-mail</label>
                                    <input asp-for="Email" type="email" class="form-control" />
                                    <span asp-validation-for="Email" class="text-danger"></span>
                                </div>
                            </div>
                        </div>

                        <div class="card shadow mb-4" style="padding-top:10px">
                            <div class="form-row" style="margin-left:10px; margin-right:10px">
                                <div class="form-group col">
                                    <label asp-for="Street" class="control-label">Ulica</label>
                                    <input asp-for="Street" type="text" class="form-control" />
                                    <span asp-validation-for="Street" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="form-row" style="margin-left:10px; margin-right:10px">
                                <div class="form-group col" style="min-width: fit-content;">
                                    <label asp-for="HouseNumber" class="control-label">Nr domu</label>
                                    <input asp-for="HouseNumber" type="text" class="form-control" />
                                    <span asp-validation-for="HouseNumber" class="text-danger"></span>
                                </div>
                                <div class="form-group col" style="min-width: fit-content;">
                                    <label asp-for="AppartmentNumber" class="control-label">Nr mieszkania</label>
                                    <input asp-for="AppartmentNumber" type="text" class="form-control" />
                                    <span asp-validation-for="AppartmentNumber" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="form-row" style="margin-left:10px; margin-right:10px">
                                <div class="form-group col" style="min-width: fit-content;">
                                    <label asp-for="PostalCode" class="control-label">Kod pocztowy</label>
                                    <input asp-for="PostalCode" type="text" class="form-control" />
                                    <span asp-validation-for="PostalCode" class="text-danger"></span>
                                </div>
                                <div class="form-group col" style="min-width: fit-content;">
                                    <label asp-for="City" class="control-label">Miasto</label>
                                    <input asp-for="City" type="text" class="form-control" />
                                    <span asp-validation-for="City" class="text-danger"></span>
                                </div>
                            </div>
                        </div>

                        <div class="card shadow mb-4" style="padding-top:10px">
                            <div class="form-row" style="margin-left:10px; margin-right:10px; min-height:160px">
                                <div class="form-group col">
                                    <label asp-for="Description" class="control-label">Dodatkowy opis</label>
                                    <textarea asp-for="Description" rows="4" class="form-control"></textarea>
                                    <span asp-validation-for="Description" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
                <div class="row">
                    <div class="col">
                        @if (Model.IsActive)
                        {
                            <!-- Button to Open the Modal -->
                            <button type="button" class="btn btn-outline-danger buttMargin" data-toggle="modal" data-target="#myModalDeactivate">
                                Usuń
                            </button>
                            <!-- The Modal -->
                            <div class="modal" id="myModalDeactivate">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h4 class="modal-title">Uwaga!</h4>
                                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                                        </div>
                                        <!-- Modal body -->
                                        <div class="modal-body">
                                            Czy chcesz usunąć tego klienta?
                                        </div>
                                        <div class="modal-footer">
                                            <form asp-action="Deactivate" asp-route-id="@Model.ClientID">
                                                <input type="hidden" asp-for="ClientID" />
                                                <input type="submit" value="Tak" class="btn btn-outline-danger buttMargin" />
                                                <button type="button" class="btn btn-outline-secondary buttMargin" data-dismiss="modal">Nie</button>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                        else
                        {
                            <div class="input-group">
                                <form asp-action="Restore" asp-route-id="@Model.ClientID">
                                    <input type="hidden" asp-for="ClientID" />
                                    <input type="submit" value="Przywróć" class="btn btn-outline-success buttMargin" style="margin:5px" />
                                </form>

                                <input type="button" value="Usuń trwale" class="btn btn-outline-danger buttMargin" data-toggle="modal" data-target="#myModalDelete" style="margin:5px" />

                            </div>
                            <!-- The Modal 2-->
                            <div class="modal" id="myModalDelete">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h4 class="modal-title">Uwaga!</h4>
                                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                                        </div>
                                        <!-- Modal body -->
                                        <div class="modal-body">
                                            Czy chcesz trwale usunąć tego klienta?
                                        </div>
                                        <div class="modal-footer">
                                            <form asp-action="Delete" asp-route-id="@Model.ClientID">
                                                <input type="hidden" asp-for="ClientID" />
                                                <input type="submit" value="Tak" class="btn btn-outline-danger buttMargin" />
                                                <button type="button" class="btn btn-outline-secondary buttMargin" data-dismiss="modal">Nie</button>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                    <div class="col" style="text-align:right">
                        <input form="saveForm" type="submit" value="Zapisz" class="btn btn-success" />
                    </div>
                </div>
            </div>
        </div>
        @*ORDERS LIST*@

        <div class="row">
            <div class="col" style="text-align:center; margin:10px">
                <button class="btn btn-outline-dark" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                    Zamówienia klienta
                </button>
            </div>
        </div>

        <div class="card shadow collapse" id="collapseExample">
            <div class="card-header">
                <div class="row">
                    <div class="col">
                        <h4 class="mb-2 page-title">Zamówienia klienta</h4>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <table class="table dataTable table-responsive-lg table-hover" id="dataTable-orders">
                    <thead>
                        <tr>
                            <th>Nr</th>
                            <th>Start</th>
                            <th>Koniec</th>
                            <th>Etap produkcji</th>
                            <th>Klient</th>
                            <th>Nazwa zamówienia</th>
                            <th>Produkt</th>
                            <th>Nakład</th>
                            <th>Akcja</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in ViewData["ClientOrders"] as IEnumerable<Printo.Data.Data.Order>)
                        {
                            <tr class="tableCursor" onclick="location.href = '@(Url.Action("Edit", "Orders", new { id = item.OrderID }, null))'">
                                <td>
                                    @Html.DisplayFor(modelItem => item.OrderID)
                                </td>
                                <td style="text-align:center">
                                    @if (item.StartDate != null)
                                    {@item.StartDate.Value.ToString("dd/MM")}
                                    <br />
                                    @if (item.StartDate != null)
                                    {@item.StartDate.Value.ToString("H:mm")}
                                </td>
                                <td style="text-align:center">
                                    @if (item.EndDate != null)
                                    {@item.EndDate.Value.ToString("dd/MM")}
                                    <br />
                                    @if (item.EndDate != null)
                                    {@item.EndDate.Value.ToString("H:mm")}
                                </td>
                                <td>
                                    @if (item.ProductionStage.Color != null)
                                    {
                                        @if (item.ProductionStage.Color.ToString() == "#ffffff")
                                        {
                                            <a class="btn disabled" type="button" style="padding-bottom:2px;color:black;background:@Html.DisplayFor(modelItem => item.ProductionStage.Color)">
                                                @Html.DisplayFor(modelItem => item.ProductionStage.Name)
                                            </a>
                                        }
                                        else
                                        {
                                            <a class="btn disabled" type="button" style="padding-bottom:2px;color:white;background:@Html.DisplayFor(modelItem => item.ProductionStage.Color)">
                                                @Html.DisplayFor(modelItem => item.ProductionStage.Name)
                                            </a>
                                        }
                                    }
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Client.Name)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.OrderName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Product.Name)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Quantity)
                                </td>
                                <td>
                                    <a class="btn btn-outline-success" asp-action="Edit" asp-route-id="@item.OrderID" role="button" data-toggle="tooltip" title="Edytuj">
                                        <i class="fe fe-edit fe-16"></i>
                                    </a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}