@model IEnumerable<Printo.Data.Data.ToDo>

@{
    ViewData["Title"] = "Do zrobienia";
}

<div class="row">
    <div class="col-md-12">
        @*AKTYWNE*@
        <div class="card shadow">
            <div class="card-header">
                <div class="row">
                    <div class="col">
                        <h4 class="mb-2 page-title">Do zrobienia</h4>
                    </div>
                    <div class="col">
                        <a class="btn btn-outline-success float-right" role="button" aria-haspopup="true" aria-expanded="false" asp-action="Create">
                            <i class="fe fe-plus fe-16" style="padding-right:5px; vertical-align:text-bottom"></i>
                            Dodaj
                        </a>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div class="justify-content-end">
                    <div class="row">
                        @foreach (var item in Model.Where(x => x.IsActive == true))
                        {
                            <div class="col-xl-3 col-lg-4 col-md-3 col-sm-6">
                                <div class="card mb-4 border-success">
                                    <div class="card-header">
                                        <div class="row">
                                            <div class="col" style="margin-top:10px">
                                                <h4 class="card-title" style="margin-bottom:0px">@Convert.ToString($"{ item.Date:dd/MM}" + ", godz. " + $"{item.Date:h:mm}")</h4>
                                            </div>
                                            <div class="col-2">
                                                <a class="btn btn-outline-success" style="float:right" asp-action="Edit" asp-route-id="@item.ToDoID" role="button" data-toggle="tooltip" title="Edytuj">
                                                    <i class="fe fe-edit fe-16"></i>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col">
                                                <h5>@item.Name</h5>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col">
                                                <p>@item.Description</p>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col" style="text-align: center;">
                                                <form asp-action="Deactivate" asp-route-id="@item.ToDoID">
                                                    <input type="hidden" asp-for="@item.ToDoID" />
                                                    <input type="submit" value="OK!" class="btn btn-outline-dark buttMargin" />
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
        @*NIEAKTYWNE*@
        @foreach (var item in Model)
        {
            if (item.IsActive == false)
            {
                <div class="row">
                    <div class="col" style="text-align:center; margin:10px">
                        <button class="btn btn-outline-dark" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                            Zrobione - Archiwum
                        </button>
                    </div>
                </div>
                break;
            }
        }
        <div class="card shadow collapse" id="collapseExample">
            <div class="card-header">
                <div class="row">
                    <div class="col">
                        <h4 class="mb-2 page-title">Do zrobienia - pozycje wykonane</h4>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div class="justify-content-end">
                    <div class="row">
                        @foreach (var item in Model.Where(x => x.IsActive == false))
                        {
                            <div class="col-xl-3 col-lg-4 col-md-6">
                                <div class="card mb-4 border-success">
                                    <div class="card-header">
                                        <div class="row">
                                            <div class="col" style="margin-top:10px">
                                                <h4 class="card-title" style="margin-bottom:0px">@Convert.ToString($"{ item.Date:dd/MM}" + ", godz. " + $"{item.Date:h:mm}")</h4>
                                            </div>
                                            <div class="col-2">
                                                <a class="btn btn-outline-success" asp-action="Edit" asp-route-id="@item.ToDoID" role="button" data-toggle="tooltip" title="Edytuj">
                                                    <i class="fe fe-edit fe-16"></i>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col">
                                                <h5>@item.Name</h5>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col">
                                                <p>@item.Description</p>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col" style="text-align: center;">
                                                <form asp-action="Restore" asp-route-id="@item.ToDoID">
                                                    <input type="hidden" asp-for="@item.ToDoID" />
                                                    <input type="submit" value="Przywróć" class="btn btn-outline-dark buttMargin" />
                                                </form>
                                            </div>
                                            <div class="col" style="text-align: center;">
                                                <form asp-action="Delete" asp-route-id="@item.ToDoID">
                                                    <input type="hidden" asp-for="@item.ToDoID" />
                                                    <input type="submit" value="Usuń trwale" class="btn btn-outline-danger buttMargin" />
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
