@model IEnumerable<Printo.Data.Data.User>

@{
    ViewData["Title"] = "Użytkownicy";
}

<div class="row">
    <div class="col-md-12">
        @*AKTYWNE*@
        <div class="card shadow">
            <div class="card-header">
                <div class="row">
                    <div class="col">
                        <h4 class="mb-2 page-title">Użytkownicy</h4>
                    </div>
                    <div class="col">
                        <a class="btn btn-outline-success float-right" role="button" aria-haspopup="true" aria-expanded="false" asp-action="Create">
                            <i class="fe fe-plus fe-16" style="padding-right:5px; vertical-align:text-bottom"></i>
                            Dodaj
                        </a>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <table class="table dataTable table-responsive-lg table-hover" id="dataTable-1">
                    <thead>
                        <tr>
                            <th>
                                Nazwa użytkownika
                            </th>

                            <th>
                                Login
                            </th>
                            <th>
                                Typ użytkownika
                            </th>
                            <th>Akcja</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.Where(x => x.IsActive == true))
                        {
                            <tr class="tableCursor" onclick="location.href = '@(Url.Action("Edit", "Users", new { id = item.UserID }, null))'">
                                <td>
                                    @Html.DisplayFor(modelItem => item.Name)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Login)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.UserType.Name)
                                </td>
                                <td>
                                    <a class="btn btn-outline-success" asp-action="Edit" asp-route-id="@item.UserID" role="button" data-toggle="tooltip" title="Edytuj">
                                        <i class="fe fe-edit fe-16"></i>
                                    </a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
        @*NIEAKTYWNE*@
        @foreach (var item in Model)
        {
            if (item.IsActive == false)
            {
                <div class="row">
                    <div class="col" style="text-align:center; margin:10px">
                        <button class="btn btn-outline-dark" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                            <i class="fe fe-trash-2 fe-16"></i> Kosz
                        </button>
                    </div>
                </div>
                break;
            }
        }
        <div class="card shadow collapse" id="collapseExample">
            <div class="card-header">
                <div class="row">
                    <div class="col">
                        <h4 class="mb-2 page-title">Użytkownicy - pozycje usunięte</h4>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <table class="table dataTable table-responsive-lg table-hover" id="dataTable-2">
                    <thead>
                        <tr>
                            <th>
                                Nazwa użytkownika
                            </th>
                            <th>
                                Login
                            </th>
                            <th>
                                Typ użytkownika
                            </th>
                            <th>Akcja</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.Where(x => x.IsActive == false))
                        {
                            <tr class="tableCursor" onclick="location.href = '@(Url.Action("Edit", "Users", new { id = item.UserID }, null))'">
                                <td>
                                    @Html.DisplayFor(modelItem => item.Name)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Login)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.UserType.Name)
                                </td>
                                <td>
                                    <a class="btn btn-outline-success" asp-action="Edit" asp-route-id="@item.UserID" role="button" data-toggle="tooltip" title="Edytuj">
                                        <i class="fe fe-edit fe-16"></i>
                                    </a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
